{% trans_default_domain 'KolyyaOAuthBundle' %}
<link rel="stylesheet" href="{{ asset('bundles/kolyyaoauth/css/connect.css') }}">
<div class="kolyya-oauth">
<div class="connect-list">
    {% for button in buttons %}
        {% set item = button.item %}
        {% set type = button.item_id %}
        {% set id = button.soc_id %}
        {% set data = button.soc_data %}
        <div class="connect-item-wrap">
        <div class="connect-item connect-item_type_{{ type }}{{ id and data ? '':' connect-item_no-connect' }}">
            <div class="connect-item__icon connect-item__icon_type_{{ type }}{{ id and data ? '':' connect-item__icon_no-connect' }}"></div>
            {% if id and data %}
                <div class="connect-item__avatar"
                     style="background-image: url('{{ data.photo_small }}');"
                ></div>
                <div class="connect-item__data">
                <div class="connect-item__name">{{ data.first_name }} {{ data.last_name }}</div>
                <a href=""
                   onclick="disconnect('{{ type }}'); return false;"
                   class="connect-item__disconnect"
                >{{ 'layout.disconnect'|trans }}</a>
                </div>
            {% else %}
                <a class="connect-item__connect"
                   title="{{ ('connect.'~item)|trans }}"
                   href="{{ hwi_oauth_login_url(item) }}"
                >{{ 'layout.connect'|trans }} </a>
            {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
</div>

<script src="{{ asset('bundles/kolyyaoauth/js/jquery-3.3.1.min.js') }}"></script>
<script>
    function disconnect(id) {
        $.ajax({
            url: '{{ path('kolyya_oauth_disconnect') }}',
            data: {id: id},
            success: function(data){
                console.log(data);
                if(data.success){
                    window.location.reload();
                }
            },
            error: function(error){
                console.log(error);
            }
        });
    }
</script>